body {
  text-align: center;
}

.student-content {
  height: 85vh;
  padding: 5px;
  overflow: hidden;
}

.student-title {
  padding-bottom: 3px;
  border-bottom: 2px solid grey;
}

.info-area {
  height: 100vh;
  display: flex;
}

.student-list {
  height: 80vh;
  width: 30%;
  border-right: 2px solid grey;
  overflow: scroll;
}

.student-details {
  height: 100vh;
  width: 70%;
}
.student-card-holder {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.student-subHead {
  border-bottom: 2px solid grey;
}

.student-card {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 50vh;
  width: 50%;
  background-color: rgb(180, 224, 209);
  border-radius: 1.5rem;
}

@media screen and (max-width: 700px) {
  .student-card {
    width: 95%;
  }
}
/*
  .student-list {
    width: 100%;
  }

  .student-details {
    width: 100%;
  }

  .student-card {
    width: 100%;
  }
} */
