body {
  text-align: center;
}

.content {
  height: 85vh;
  padding: 5px;
  position: relative;
}

.content h1 {
  text-decoration: underline;
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
  height: 60vh;
}

th,
td {
  border: 2px solid black;
  font-size: 1rem;
  padding: 2px;
}

.lunch {
  background-color: rgb(197, 195, 195);
}
